{% extends 'enroll/base.html' %} {% block content %}
<div class="row">
    <div class="col-sm-8 offset-2">
        <h4 class="text-center alert alert-info"> Provide Your Details</h4>
        <form action="" method="POST">
            {% csrf_token %} {{form.as_p}}
            <div class="d-inline">
                <input type="submit" class="btn btn-primary" value="Add">
                <a href="{% url 'showdata' %}" class="btn btn-info">Go to Database</a>
            </div>
        </form>
    </div>
</div>
{% endblock content %}
